<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Datos del nuevo individuo</title>
</head>
<body>
<header th:replace="Plantillas/plantilla :: encabezado"></header>
<h2>Datos del nuevo individuo</h2>
<a th:href="@{/}">Volver</a>
<br>
<form th:action="@{/salvar}" method="post" th:object="${individuo}">
    <input type="hidden" name="id_individuo" th:field="*{id_individuo}">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" th:field="*{nombre}">
    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en Nombre</span>
    <br>
    <br>
    <label for="apellido">Apellido: </label>
    <input type="text" name="apellido" th:field="*{apellido}">
    <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error en Apellido</span>
    <br>
    <br>
    <label for="edad">Edad: </label>
    <input type="number" name="edad" th:field="*{edad}">
    <span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">Error en Número</span>
    <br>
    <br>
    <label for="correo">Correo: </label>
    <input type="text" name="correo" th:field="*{correo}">
    <span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">Error en Correo</span>
    <br>
    <br>
    <label for="telefono">Teléfono: </label>
    <input type="tel" name="telefono" th:field="*{telefono}">
    <br><br>
    <input type="submit" name="salvar" value="Salvar">
</form>
<footer th:replace="Plantillas/plantilla :: footer"></footer>
</body>
</html>